.aboutContainer {
  padding: 8em;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
}

#aboutTitle{
  font-size: 2em;
  margin-bottom: 1%;
}

.aboutText {
  margin-bottom: 2%;
}

@media (max-width: 990px) {
  .aboutContainer {
    padding: 3em;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;
  }
}