.aboutContainer {
  padding: 8em;
  margin-top: 2%;
  /* background-color:	#F7F7F7; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
}

#aboutTitle{
  font-size: 2em;
  margin-bottom: 2%;
}

.aboutText {
  margin-bottom: 2%;
}