#aboutContainer {
  padding: 4em;
  margin-top: 2%;
  background-color:	#F7F7F7;
}

#aboutTitle{
  font-size: 2em;
  margin-bottom: 2%;
}

#aboutTextContainer {
  display: flex;
  flex-direction: column;
}

.aboutText {
  margin-bottom: 2%;
}