#navbarContainer {
  font-family: "Roboto", sans-serif;
  justify-content: space-between; 
  background-color: #9BB97E;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* opacity: 0.9; */
}

#navbarContainer nav ul{
  list-style: none;  
}

#navbarContainer nav ul li {
  display: inline-block;  
  margin: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#navbarContainer nav ul li a {
  text-decoration: none;
    color: rgb(0, 0, 0);
}

#navbarContainer a:hover {
  color: blue;
}

#mobileNavigation{
  display: none;
}

@media (max-width: 990px) {
  #navigation {
    display: none;
  }

  #mobileNavigation{
    display:flex;
    align-items: center; 
    justify-content: center;
    background-color: green;
    width: 100%;
  }

  #mobileNavigation #hamburger {
    position: absolute;
    right: 5%;
    cursor: pointer;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
  }

  nav ul li{
    margin-right: 5%;
  }

  #navContainer a:hover{
    border-bottom: none;
  }
}


