#homeContainer {
  padding: 4em;
}

#homeHeader {
  background-color: blue;
  margin-bottom: 5%;
  text-align: center;
}

#headerTitle {
  font-size: 3em;
  margin-bottom: 2%;
}

#subheader {
  font-size: 1em;
}